.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 5px;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-bottom: 10px;
    font-weight: 200;
    color: var(--textSoft);
}

.aside{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.search, .filter, .export{
    border: solid 2px var(--bg);
    border-radius: 10px;
    padding: 10px;
}

.input {
    border: none;
}
.search {
    display: flex;
    gap: 5px;
}
.ptl{
    display: flex;
    gap: 5px;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table {
    width: 100%;
}

.table td {
    padding: 20px;
}

.users {
    display: flex;
    gap: 10px;
    align-items: center;
}

.userImage {
    object-fit: cover;
    border-radius: 50%;
}


.status {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}

.inpatient {
    background-color: #4CAF50;

}

.outpatient {
    background-color: #F44336;
}